
  
  .container {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
    margin: 0;
  }
  
  .openDoor {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .scene {
    position: absolute;
    left: 0;
    top: 0;
  }
  
 
  