@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.cloud {
  position: absolute;
  height: 1320px;
  bottom: -280px;
  left: -282px;
  z-index: -5;
}
.question {
  position: absolute;
  left: 8%;
  top: 43%;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 25px;
  line-height: 33px;

  color: #ffffff;
}
.textbox {
  position: absolute;
  width: 72%;
  height: 9%;
  left: 50%;
  top: 55%;
  transform: translate(-50%);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

textarea {
  padding: 5%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #425f83;
}

.button {
  width: 243.8px;
  height: 46px;
  border-radius: 100vh;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #425f83;
}

.bottom {
  position: absolute;
  bottom: 5%;
}

.center {
  display: flex;
  justify-content: center;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.charactor {
  position: absolute;
  left: -10.26%;
  right: -1.86%;
  top: -11.71%;
  bottom: 57.76%;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-9.63deg);
}
.charactor-size {
  -webkit-box-reflect: left;
  height: 100%;
}
.bg4 {
  width: 100%;
}
