@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  color: #425f83;
  font-size: 24px;
}
.button {
  width: 243.8px;
  height: 46px;
  border-radius: 100vh;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
}

.button-info {
  width: 243.8px;
  height: 46px;
  border-radius: 100vh;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type='text'] {
  width: 243.8px;
  height: 46px;
  border-radius: 100vh;
  border: none;
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 30px;
}

input[type='number'] {
  width: 243.8px;
  height: 46px;
  border-radius: 100vh;
  border: none;
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 9px;
}

.chuose {
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  letter-spacing: -2px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  font-weight: 500;
  font-size: 18px;
  width: 289px;
  height: 26px;
  text-align: left;
  margin-top: 87px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gender {
  width: 243.8px;
  height: 46px;
  border-radius: 100vh;
  border: none;
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 9px;
  color: #425f839e;
}

#clouds {
  position: absolute;
  left: 261px;
  top: 526px;
}

#charactor {
  margin-top: 99px;
}

#bg-03 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.allChuose {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  margin-top: -140px;
}
.chuose {
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  letter-spacing: -2px;
}

.main {
  position: relative;
}

::placeholder {
  color: #425f839e;
  opacity: 1;
}
