@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  color: #425f83;
  font-size: 24px;
}
.button {
  width: 243.8px;
  height: 46px;
  border-radius: 100vh;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
}

.button-info {
  width: 243.8px;
  height: 46px;
  border-radius: 100vh;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

textarea {
  padding: 6%;
  -webkit-border-radius: 60px;
  font-size: 18px;
  color: #425f83;
}

input[type='text'] {
  width: 243.8px;
  height: 46px;
  border-radius: 100vh;
  border: none;
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 30px;
}

input[type='number'] {
  width: 243.8px;
  height: 46px;
  border-radius: 100vh;
  border: none;
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 9px;
}

.chuose {
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  letter-spacing: -2px;
}

.main {
  position: relative;
  width: 390px;
  height: 844px;
  margin-top: unset;
}
.container {
  position: relative;
}
#bg1 {
  position: absolute;
  left: 0px;
}
#bg2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
#cloud {
  position: absolute;
  left: 19px;
  top: 154px;
}

.center {
  display: flex;
  justify-content: center;
  /* margin-left: auto;
  margin-right: auto;
  width: 50%; */
}

.paragraph {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin-top: unset;
  color: white;
  padding-bottom: 42px;
}

#imgChar01 {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
#sky {
  position: absolute;
  top: -15px;
  left: 0%;
  border: none;
}
#jumboLogo {
  position: absolute;
  bottom: 0%;
}

#bg0 {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  font-weight: 500;
  font-size: 18px;
  width: 289px;
  height: 26px;
  text-align: left;
  margin-top: 87px;
  color: white;
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gender {
  width: 243.8px;
  height: 46px;
  border-radius: 100vh;
  border: none;
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 9px;
  color: #425f839e;
}

#clouds {
  position: absolute;
  left: 261px;
  top: 526px;
}

#charactor {
  margin-top: 140px;
  margin-left: 0px;
}

#bg-03 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.allChuose {
  display: flex;
  justify-content: center;
  /* padding-top: 10vh; */
  margin-top: unset;
}
.allChuose-info {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  margin-top: -140px;
}
.chuose {
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  letter-spacing: -2px;
}

.main-info {
  position: relative;
}

::placeholder {
  color: #425f839e;
  opacity: 1;
}

#sky-info {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

br {
  display: block;
  margin-top: 10px;
}
