.star {
  position: absolute;
  left: 0;
  top: 0;
}

.clouds {
  position: absolute;
  left: -90px;
  top: 120px;
}

.bg_purple {
  position: relative;
  left: 0;
  top: 0;
}

.container {
  position: relative;
  left: 0;
  top: 0;
  text-align: center;
  margin: 0;
}

.text_center {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.text_buttom {
  position: absolute;
  color: white;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.text_top {
  position: absolute;
  color: white;
  top: 17%;
  left: 20%;
  transform: translate(0%);
  font-size: 20px;
}

.cloud01 {
  position: absolute;
  width: 64.45%;
}

.cloud02 {
  position: absolute;
  width: 64.45%;
}

.cloud03 {
  position: absolute;
  width: 64.45%;
}

.charactor {
  position: absolute;
  left: 3%;
  top: 15%;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-12.58deg);
  width: 90%;
}

.scene {
  position: absolute;
  left: 0;
  top: 0;
}

.button{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

}